version: '3.8'
services:
  qdrant:
    image: qdrant/qdrant:v1.5.3
    ports:
      - "6333:6333"
    volumes:
      - qdrant_storage:/qdrant/storage

  mongo:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  qdrant_storage:
  mongo_data:
